@font-face {
    src: url(../webfonts/Urbanist-VariableFont_wght.ttf);
    font-family: Urbanist;
}

/*serve a impostare la proprietà box-sizing su border-box
 per tutti gli elementi della pagina (* è il selettore universale).
 */

* {
    box-sizing: border-box;
}

.body_Slide {

    overflow: visible;
    background-image: url(sfondo_nervoso.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Urbanist, sans-serif;
}

body {
    height: 100vh;
    margin: 0%;
    position: relative;
    overflow: hidden;
}


h1 {
    font-family: Urbanist;
    font-size: 3rem;
    text-shadow: 2px 2px 2px;
}

h3 {
    font-family: Urbanist;
    text-align: left;
}

p {
    font-family: Urbanist;
    color: whitesmoke;
}
ul {
    font-family: Urbanist;
    color: whitesmoke;
}
li {
    font-family: Urbanist;
    color: whitesmoke;
}


bold{
    text-shadow: 2px 1px 2px currentColor rgb(7, 7, 7);
    font-size: larger;
}
strong{
    text-shadow: 2px 1px 2px currentColor rgb(7, 7, 7);
    font-size: larger;
}



