@font-face {
    src: url(../webfonts/Urbanist-VariableFont_wght.ttf);
    font-family: Urbanist;
}

* {
    box-sizing: border-box;
}
/* SFONDO PRINC */
#body_Princ {
    background-image: url(sfondoPrincipale.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Sfondo Slide */
.body_Slide {
    background-image: url(SfondoSlide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


/*Specifiche Generali*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: Urbanist;
}

h3 {
    font-family: Urbanist;
    text-align: left;
    font-size: 2rem;
    
}

p {
    font-family: Urbanist;
    color: rgb(99, 102, 104);
}

.arrowC{
    display: flex;
    justify-content: space-around;  /* Le frecce saranno distribuite uniformemente */
    align-items: center;
    margin: 20px 0;
}



/*BOTTONIIII*/
.buttons {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #900000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.2s;
}
.button:hover {
    background-color: #b00000;
}
.buttons button:nth-child(1) {
    transform: translateX(30px);
}
.buttons button:nth-child(1):hover {
    transform: translateX(30px) scale(1.05);
}
.buttons button:nth-child(2) {
    transform: translateX(-30px);
}
.buttons button:nth-child(2):hover {
    transform: translateX(-30px) scale(1.05);
}


/*SLIDE PRINCIPALE*/
#containerPri {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#sp1 {
    background-color: rgba(85, 195, 199, 0.664);
    width: 400px;
    height: 105px;
    padding: 10px 0;
    border-radius: 10px;
    color: rgb(129, 71, 86);
    text-align: center;
}

#txt1 {
    margin-top: 20px; /* Instead of absolute positioning */
    font-size: 18px;
    color: rgb(99, 102, 104);
}



/*SLIDE 2*/
#body_Slide2{
    font-family: Urbanist, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slide2_container{
    position: relative;
    aspect-ratio: 16/9;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

#Text2_section{
    flex: 1;
    min-width: 800px;
    text-align: left;
}



.intro-text {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 1.4rem;
  }

  .List_Head {
    font-weight: bold;
    margin-top: 60px;
    margin-left: 5px;
    font-family: Urbanist;
    font-size: 1.8rem;
    color: rgb(99, 102, 104);
    text-align: left;
}

.List {
    list-style-type: disc;
    margin-left: 0;
    margin-bottom: 20px;
    font-family: Urbanist;
    color: rgb(99, 102, 104);
    list-style-position: inside;
    text-align: left;
}

.List li {
    margin-bottom: 5px;
    font-size: 1.7rem;
    position: relative;
}

/*FRECCE*/
#arrow1, #arrow2, #arrow3, #arrow4 {
    transform-origin: center;
}


#arrow1{
    position: absolute;
    top: 10.3%;
    right: 5%;
    transform: rotate(0deg);
}

#arrow2{
    position: absolute;
    top: 41.5%;
    right: -13.3%;
    transform: rotate(30deg);    
}

#arrow3{
    position: absolute;
    bottom: 45%;
    right: 10%;
    transform: rotate(-10deg);   
}

#arrow4{
    position: absolute;
    bottom: 30%;
    right: 12%;
    transform: rotate(0);    
}





.bottom_text {
    font-size: 1.7rem;
    line-height: 1.5;
    margin-top: 100px;
    position: absolute;
    bottom: 15;
    max-width: 1500px;
    text-align: left;
    
}

#image_container {
    width: 70%;       
    min-width: 80%;
}

 #image_container img {
    width: 50%;
    height: auto;
    border-radius:2px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }