@font-face {
    src: url(../webfonts/Urbanist-VariableFont_wght.ttf);
    font-family: Urbanist;
}

body {    
    background-color: rgb(210, 202, 199);    
    font-family: Urbanist;
}

#highlight-purple { color: #7700ff; font-weight: bolder; font-size: larger; text-decoration: none; }
#highlight-orange { color: orange; font-weight: bolder; font-size: larger; text-decoration: none; }
#highlight-azure { color: rgb(17, 171, 243); font-weight: bolder; font-size: larger; text-decoration: none; }
#highlight-yellow { color: yellow; font-weight: bolder; font-size: larger; text-decoration: none; }
#highlight-green {color: rgb(10, 212, 101); font-weight: bolder; font-size: larger; text-decoration: none;}
#highlight-blue {color: #0000ff; font-weight: bolder; font-size: larger; text-decoration: none;}
#highlight-red2 {color: #bd0404; font-weight: bolder; font-size: larger; text-decoration: none;}
#highlight-red { color: red; font-size: larger; text-decoration: none; }
#highlight-pink { color: #FF00FF; font-size: larger; text-decoration: none; }
#highlight-lightblue { color: lightblue; font-size: larger; text-decoration: none; }
